body{
    font: normal 15pt Arial;
    background-image: linear-gradient(to right, #474973, #A69CAC);
    text-align:  center;
}

header{
    color: #eadbf1;
}

main{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.331);
}

input{
    padding: 8px 15px 8px 15px;
    margin-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: background .2s;
    font-size: 15pt;
}

input:hover{
    background-color: #d6cddb ;
}

footer{
    font-style: italic;
    color: #eadbf1;
}

