*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(145, 79, 79);
    font: normal 15pt Arial;
}

header{
    margin: 10px;
    color: white;
    text-align: center;
}

main{
    background: white;
    margin: auto;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
}

div{
    display: inline-block;
    padding: 10px;
    
}

.btn{
    margin-left:5px;
    cursor: pointer;
    padding: 0 .7rem;
}

.btn:hover{
    background-color: antiquewhite;
}

footer{
    position: absolute;
    bottom: 1rem;
    left: 45%;
    color: white;
    font-style: italic;
    text-align: center;
    padding: 10px;
}



